# Ignore Terraform state files
terraform/*.tfstate
terraform/*.tfstate.*
terraform/terraform.tfstate.backup
terraform/terraform.tfstate.backup.*

# Ignore Terraform variables file
terraform/terraform.tfvars

# Ignore Terraform plugin directory
terraform/.terraform/

terraform/terraform.lock.hcl
terraform/.terraform.lock.hcl

# Ignore logs and temporary files
terraform/*.log
terraform/*.swp